header.header {
    grid-area: header;
    background-color: #fff;
    padding: 0 20px;
    box-shadow: var(--shadow);

    display: flex;
    align-items: left;       
    justify-content: flex-start;
    height: 100%;
}
